<div class="github-navbar">
  <a class="git-nav-item" href="/s/<%= profile.url %>"><i class="far fa-book-open"></i> Overview</a>
  <a class="git-nav-item" href="/s/<%= profile.url %>/repos"><i class="far fa-book-alt"></i> Repositories <span class="badges"><%= profile.repositioriesCount %></span></a>
  <a class="git-nav-item"><i class="far fa-star"></i> Stars  <span class="badges"><%= profile.starsCount %></span></a>
</div>
